<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8966d">  <td>18/09/05 14:31:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Draft.setUp()[pri:0, instance:io.thuyca.waffle.demoqa.test.Draft@6e06451e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@292917034</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>18/09/05 14:31:52</td>   <td>522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Draft.DEMO_TC()[pri:0, instance:io.thuyca.waffle.demoqa.test.Draft@6e06451e]">DEMO_TC</td> 
  <td>main@292917034</td>   <td></td> </tr>
</table>
