<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>Draft.DEMO_TC()[pri:0, instance:com.fpt.waffle.demoqa.test.Draft@e45f292]<br/></td></tr>
</table>
