<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Demo Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b57a94">  <td>16/06/05 22:37:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Draft.DEMO_TC()[pri:0, instance:com.fpt.waffle.demoqa.test.Draft@e45f292]">DEMO_TC</td> 
  <td>main@212921632</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>16/06/05 22:37:40</td>   <td>2034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Draft.cleanUp()[pri:0, instance:com.fpt.waffle.demoqa.test.Draft@e45f292]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td>  <td>main@212921632</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>16/06/05 22:37:22</td>   <td>-16123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Draft.setUp()[pri:0, instance:com.fpt.waffle.demoqa.test.Draft@e45f292]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@212921632</td>   <td></td> </tr>
</table>
