<h2>Reporter output</h2><table><tr><td>Go to DemoQA page</td></tr>
<tr><td>Verify About Us page is opened when user clicks on About us link</td></tr>
<tr><td>PASSED: About us page is loaded when user clicks on About us link</td></tr>
</table>